*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background:url("https://images.unsplash.com/photo-1618556450994-a6a128ef0d9d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1064&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
.login{
    width: 320px;
    background:transparent;
    border-radius: 2px solid rgba(255,255,.2);
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 20px rgba(0,0,.2);
    padding: 10px;
}
.input-box{
    width: 100%;
    height: 50px;
    margin: 20px 0px;
    position: relative;
}
.input-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,.2);
    background: transparent;
}
i{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.remember{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 10px;

}
h1{
    text-align: center;
    color: white;
}
.forgot{
    text-decoration: none;
    color: white;
}
.forgot:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;  
    cursor: pointer;
    font-size: 20px;
}
.para{
    margin-left: 45px;
}
.a{
    color: white;
    text-decoration: none;
}
.a:hover{
    text-decoration: underline;
}
.sign{
    width: 320px;
    background:transparent;
    border-radius: 2px solid rgba(255,255,.2);
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 20px rgba(0,0,.2);
    padding: 10px; 
}
.terms{
    color: black;
    margin-top: 10px;
}
.button{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;  
    cursor: pointer;
    font-size: 20px;
    margin-top: 8px;
}
.input{
    margin-left: 40px;
}

